# DONT EDIT THIS FILE. IT IS MANAGED BY ANSIBLE
# ANY EDITS WILL BE LOST WHEN THIS PLAYBOOK IS RUN

passwd:     files winbind systemd
group:      files winbind systemd

# In order of likelihood of use to accelerate lookup.
shadow:     files sss
hosts:      files dns myhostname
services:   files sss
netgroup:   sss
automount:  files sss

aliases:    files
ethers:     files
gshadow:    files
# Allow initgroups to default to the setting for group.
# initgroups: files
networks:   files dns
protocols:  files
publickey:  files
rpc:        files
