deb http://{{ offline_repo_server_ip }}/45drives focal main
deb http://{{ offline_repo_server_ip }}/ceph focal main
deb http://{{ offline_repo_server_ip }}/nfs-ganesha focal main
deb http://{{ offline_repo_server_ip }}/libntirpc focal main 

deb http://{{ offline_repo_server_ip }}/ubuntu-main focal main
deb http://{{ offline_repo_server_ip }}/ubuntu-updates-main focal-updates main
deb http://{{ offline_repo_server_ip }}/ubuntu-backports-main focal-backports main
deb http://{{ offline_repo_server_ip }}/ubuntu-security-main focal-security main

deb http://{{ offline_repo_server_ip }}/ubuntu-universe focal universe
deb http://{{ offline_repo_server_ip }}/ubuntu-updates-universe focal-updates universe
deb http://{{ offline_repo_server_ip }}/ubuntu-backports-universe focal-backports universe
deb http://{{ offline_repo_server_ip }}/ubuntu-security-universe focal-security universe

#deb http://{{ offline_repo_server_ip }}/ubuntu-multiverse focal multiverse
#deb http://{{ offline_repo_server_ip }}/ubuntu-updates-multiverse focal-updates multiverse
#deb http://{{ offline_repo_server_ip }}/ubuntu-backports-multiverse focal-backports multiverse
#deb http://{{ offline_repo_server_ip }}/ubuntu-security-multiverse focal-security multiverse